.booking__control {
  text-align: center;
  padding: 0.5rem;
}

.booking__control button {
  font: inherit;
  font-size: 1.0rem;
  border: none;
  background: transparent;
  color: #474747;
  padding: 0.25rem 3rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.booking__control button.active {
  border-bottom-color: #e24d4d;
  color: #e24d4d;
}

.booking__control button:focus {
  outline: none;
}
